html {
    direction: rtl;
}

header, .center, footer {
    min-height: 80px;
    border: 2px solid black;
}

header {
    background-color: white;
    margin-bottom: 5px;
}

.header_top {
    min-height: 20px;
    display: flex;
}

.header_date {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#DateLabel {
    flex: 1;
}

#DayImage {
    flex: 3;
    max-width: 60px;
    height: auto;
}


.main_nav {
    background-color: lightgray;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

    .main_nav a {
        text-decoration: none;
        font-size: 24px;
        color: darkblue;
        margin: 10px;
    }


.center {
    background-color: lime;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 300px;
}

main {
    background-color: lightgrey;
    flex: 4;
    color: white;
    padding: 5px 10px;
}


aside {
    background-color: gray;
    flex: 1;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: blue;
}

.emoji {
    width:30px;
    height:20px;
}
.pic {
    width:200px;
    height:200px;
    float:left;
}
p,h1,h2,h3,h4 {
    color:black;
}